<div class="header">
    <div class="overlay">
        <br/>
        <div class="container">
            <p class="text-left">Dear Chloe</p>
        </div>
        <br/>
        <img class="col-4 offset-4 rounded-circle" src="../assets/images/bg_pic.jpg">
        <br/>
        <h1 class="ion-ios-book-outline text-center large"></h1>
        <br/>
        <h2 class="text-center">Best Wishes My Love</h2>
        <div class="container">
            <br/>
            <p class="text-right ion-ios-heart-outline"> Love Kevie</p>
        </div>
        <br/>
    </div>
</div>
<div class="container">
    <div class="row">
        <br/>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">My Amante</h5>
                <p class="card-text">well you know i'm not good with words.. but ndaunganidza all the cheesy motivational quotes i could find
                    for you.</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Honey, Just keep one word in your mind that success and failure have ups and downs, so you have to push ahead with your confidence.
                        Don’t underestimated your power. You have the ability to be the first! Be confident.wish you all
                        the best!
                    </li>
                    <li class="list-group-item">I am not going to wish you good luck. Awesome students like you never need luck to be by their sides
                        – they create their own destiny. Go for it.</li>
                    <li class="list-group-item">With a heart as brave as yours, am sure no test can take you down. I wish you all the luck for success.</li>
                    <li class="list-group-item">If you believe in yourself you do not have to fear any challenge. I wish you all the success for your
                        exam!
                    </li>
                </ul>
                <br/>
                <h5 class="card-title text-right"> Kick Ass!!!!!</h5>
            </div>
        </div>
    </div>
</div>